<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cyb.goodsms.dao.CustomerInfoMapper" >
  <resultMap id="BaseResultMap" type="com.cyb.goodsms.domain.CustomerInfo" >
    <constructor >
      <arg column="id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="customer_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="phone" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="email" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="sex" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="description" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_date_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_date_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>

  <select id="selectByExample" resultMap="BaseResultMap" >
    select
    *
    from customer_info where 1 = 1
    <if test="record.customerName != null" >
      and customer_name like concat('%',#{record.customerName, jdbcType=VARCHAR}, '%')
    </if>
    order by update_date_time desc, create_date_time desc
    <if test="pagination != null and pagination.pageIndex != null and pagination.limit != null">
      limit #{pagination.pageIndex, jdbcType=INTEGER}, #{pagination.limit, jdbcType=INTEGER}
    </if>
  </select>

  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.String">
    select * from customer_info where id = #{id, jdbcType=VARCHAR};
  </select>

  <delete id="deleteById" parameterType="java.lang.String" >
    delete from customer_info where id = #{id, jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.cyb.goodsms.domain.CustomerInfo" >
    insert into customer_info (id, customer_name, phone, 
      email, sex, description, 
      create_date_time, update_date_time)
    values (#{id,jdbcType=VARCHAR}, #{customerName,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{sex,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, 
      #{createDateTime,jdbcType=TIMESTAMP}, #{updateDateTime,jdbcType=TIMESTAMP})
  </insert>

  <select id="countByExample" parameterType="com.cyb.goodsms.domain.CustomerInfo" resultType="java.lang.Integer" >
    select count(*) from customer_info
    <if test="customerName != null" >
      and customer_name like concat('%',#{customerName, jdbcType=VARCHAR}, '%')
    </if>
  </select>

  <update id="updateById" parameterType="com.cyb.goodsms.domain.CustomerInfo" >
    update customer_info
    <set >
      <if test="record.customerName != null" >
        customer_name = #{record.customerName,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null" >
        sex = #{record.sex,jdbcType=INTEGER},
      </if>
      <if test="record.description != null" >
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null" >
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.createDateTime != null" >
        create_date_time = #{record.createDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDateTime != null" >
        update_date_time = #{record.updateDateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{record.id,jdbcType=VARCHAR}
  </update>
</mapper>